@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
.cke_contents {
  max-height: 147px !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.recharts-responsive-container {
  height: 90% !important;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: blue rgb(124, 194, 255);
  }

  *::-webkit-scrollbar-track {
    @apply bg-white;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-blue-500 to-blue-200 rounded;
  }
}
body {
  max-width: 1600px !important;
  margin: 0 auto;
}
.grid-containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  gap: 10px;
}
#text-stroke {
  -webkit-text-stroke: 2px red;
  color: transparent;
}
.parentGroup:hover .chieldGroup {
  display: block;
}
.errorFront {
  font-size: 12px;
  color: red;
  margin-top: -10px;
  margin-left: 4px;
  margin-bottom: -4px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
}
.mainImage2 {
  opacity: 0 !important;
}
.mainImage1 {
  opacity: 1 !important;
}
#mainCardLink:hover .mainImage2 {
  transition: 1s !important;
  opacity: 1 !important;
  scale: 1.03;
}
#mainCardLink:hover .mainImage1 {
  transition: 1s !important;
  opacity: 0 !important;
  scale: 1.03;
}
.font-gruppo {
  font-family: "Gruppo", sans-serif;
}
.font-Orbitron {
  font-family: "Orbitron", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
}

.custom-shape-divider-bottom-1706682717 {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-1706682717 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
  /* transform: rotateY(180deg); */
}

.custom-shape-divider-bottom-1706682717 .shape-fill {
  fill: #0f1019;
}
